html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    min-width: 300px;
    margin: 6%;
    background-color: #ddd;
    font-family: 'Kanit', sans-serif;
    word-break: break-word;
}